[submodule "2_term_course_project"]
	path = 2_term_course_project
	url = https://github.com/SgXXG/Course-Project
[submodule "PL"]
	path = PL
	url = https://github.com/SgXXG/PL
[submodule "Computer_Hardware"]
	path = Computer_Hardware
	url = https://github.com/SgXXG/Computer_Hardware
[submodule "CSaN"]
	path = CSaN
	url = https://github.com/SgXXG/CSaN
[submodule "OOP"]
	path = OOP
	url = https://github.com/SgXXG/OOP
[submodule "DUI"]
	path = DUI
	url = https://github.com/SgXXG/DUI
[submodule "IT"]
	path = IT
	url = https://github.com/SgXXG/IT
[submodule "WT"]
	path = WT
	url = https://github.com/SgXXG/WT
[submodule "OSaSP"]
	path = OSaSP
	url = https://github.com/SgXXG/OSaSP
[submodule "ToDC"]
	path = ToDC
	url = https://github.com/SgXXG/ToDS
[submodule "MPP"]
	path = MPP
	url = https://github.com/SgXXG/MPP
[submodule "WT-P2"]
	path = WT-P2
	url = https://github.com/SgXXG/WT-p2
[submodule "SR"]
	path = SR
	url = https://github.com/SgXXG/SR
[submodule "OOP-P2"]
	path = OOP-P2
	url = https://github.com/SgXXG/OOP-p2
[submodule "OSaSP-Course-Project"]
	path = OSaSP-Course-Project
	url = https://github.com/SgXXG/OSaSP_CourseProject
[submodule "OM"]
	path = OM
	url = https://github.com/SgXXG/OM
[submodule "OSaSP-P2"]
	path = OSaSP-P2
	url = https://github.com/SgXXG/OSaSP-p2
[submodule "SDfMP"]
	path = SDfMP
	url = https://github.com/SgXXG/SDfMP
[submodule "DMMaA"]
	path = DMMaA
	url = https://github.com/SgXXG/DMMaA
[submodule "MPP-P2"]
	path = MPP-P2
	url = https://github.com/SgXXG/MPP_p2
[submodule "NTaOSA"]
	path = NTaOSA
	url = https://github.com/SgXXG/NTaOSA
[submodule "TWOA"]
	path = TWOA
	url = https://github.com/SgXXG/TWOA
