[submodule "2_term_course_project"]
	path = 2_term_course_project
	url = https://github.com/SgXXG/Course-Project
[submodule "PL"]
	path = PL
	url = https://github.com/SgXXG/PL
[submodule "Computer_Hardware"]
	path = Computer_Hardware
	url = https://github.com/SgXXG/Computer_Hardware
[submodule "CSaN"]
	path = CSaN
	url = https://github.com/SgXXG/CSaN
[submodule "OOP"]
	path = OOP
	url = https://github.com/SgXXG/OOP
[submodule "DUI"]
	path = DUI
	url = https://github.com/SgXXG/DUI
[submodule "IT"]
	path = IT
	url = https://github.com/SgXXG/IT
[submodule "WT"]
	path = WT
	url = https://github.com/SgXXG/WT
[submodule "OSaSP"]
	path = OSaSP
	url = https://github.com/SgXXG/OSaSP
[submodule "ToDC"]
	path = ToDC
	url = https://github.com/SgXXG/ToDS
[submodule "MPP"]
	path = MPP
	url = https://github.com/SgXXG/MPP
[submodule "WT-P2"]
	path = WT-P2
	url = https://github.com/SgXXG/WT-p2
